
<div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1">Bienvenidos a nuestra gestion de empleados</span>
            <div class="text-6xl text-primary font-bold mb-3">Somos un equipo que trabaja unido</div>
            <p class="mt-0 mb-4 text-700 line-height-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            
            <button pButton pRipple label="Agrega un empleado" type="button" routerLink="/nuevo" class="mr-3 p-button-raised"></button>
            <button pButton pRipple label="Listado de empleados" type="button" routerLink="/lista" class="p-button-outlined"></button>
        </section>
    </div>
</div>

