<h3>Formulario de Actualizacion Para Empleados</h3>
<form (ngSubmit)="onSubmit()" #empleadoForm="ngForm">
  
  <div class="grid p-fluid">
    
    
    <div class="col-12 md:col-8">
      <div class="col-12">
        <label style="font-size: 20px;">Nombre: </label>
      </div>
      <div class="p-inputgroup">
        <input type="text" style="height: 40px; width: 200px;" pInputText id="nombre" [(ngModel)]="empleado.nombre"
          name="nombre" required minlength="4" maxlength="20" #nombre="ngModel" pInputText pTooltip="nombre" tooltipPosition="right">
        <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
          <div *ngIf="nombre.errors?.['required']">
            <div class="col-12">
              <label style="font-size: 15px;">Ingrese su nombre </label>
            </div>
          </div>
          <div *ngIf="nombre.errors?.['minlength']">
            El nombre tiene que contener como minimo 4 caracteres
          </div>
          <div *ngIf="nombre.errors?.['maxlength']">
            El nombre tiene que tener como maximo 20 caracteres
          </div>
        </div>
      </div>
    </div>
    
    
    
    <div class="col-12 md:col-8">
      <div class="col-12">
        <label style="font-size: 20px;">Apellido: </label>
      </div>
      <div class="p-inputgroup">
        
        <input type="text" style="height: 40px; width: 200px;" pInputText id="apellido" [(ngModel)]="empleado.apellido"
          name="apellido" required minlength="4" maxlength="20" #apellido="ngModel" pInputText pTooltip="apellido" tooltipPosition="right">
        <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
          <div *ngIf="apellido.errors?.['required']">
            Digite su apellido por favor
          </div>
          <div *ngIf="apellido.errors?.['minlength']">
            El apellido tiene que contener como minimo 4 caracteres
          </div>
          <div *ngIf="nombre.errors?.['maxlength']">
            El apellido tiene que tener como maximo 20 caracteres
          </div>
        </div>
      </div>
    </div>

    
    
    <div class="col-12 md:col-8">
      <div class="col-12">
        <label style="font-size: 20px;">Email: </label>
      </div>
      <div class="p-inputgroup">
        <input type="email" style="height: 40px; width: 200px;" pInputText id="email" [(ngModel)]="empleado.email"
          name="email" required pattern ="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
          #email="ngModel" pInputText pTooltip="email" tooltipPosition="right">
        <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
          <div *ngIf="email.errors?.['required']">
            Digite su email por favor
          </div>
          <div *ngIf = "email.errors?.['pattern']">
            Por favor digite el email con el siguiente formato : user100@xxxx.com
          </div>
        </div>
      </div>
    </div>

  
    <div class="col-6">
      <button 
      pButton pRipple
      [disabled]= "!empleadoForm.form.valid" 
      type="submit"
      
      label="Enviar" 
      class="p-button-success mb-2">
      </button>
      
    </div>
  
  
  </div>
</form>






