<h3>Formulario de Registro</h3>
<form (ngSubmit)="onSubmit()">
    <div class="grid p-fluid">
        <div class="col-12 md:col-8">
            <div class="p-inputgroup">
                <input
                    type="text"
                    style="height: 40px; width: 200px;"
                    pInputText
                    placeholder="Nombre"
                    id="nombre"
                    [(ngModel)]="empleado.nombre"
                    name="nombre">
            </div>
        </div>
        <div class="col-12 md:col-8">
            <div class="p-inputgroup">
                <input
                    type="text"
                    style="height: 40px; width: 200px;"
                    pInputText
                    placeholder="Apellido"
                    id="apellido"
                    [(ngModel)]="empleado.apellido"
                    name="apellido">
            </div>
        </div>
        
        <div class="col-12 md:col-8">
            <div class="p-inputgroup">
                <input
                    type="text"
                    style="height: 40px; width: 200px;"
                    pInputText
                    placeholder="Email"
                    id="email"
                    [(ngModel)]="empleado.email"
                    name="email">
            </div>
        </div>
        <div class="col-6">
            <button pButton type="submit" label="Enviar" class="p-button-success"></button>
        </div>
        
    </div>
</form>
