<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<h2>Listado de Empleados</h2>
    <div class="flex-auto card-container">
        <p-table [value]="empleados" responsiveLayout="scroll" styleClass="p-datatable-striped">
            <ng-template pTemplate="header">
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>APELLIDO</th>
                    <th>EMAIL</th>
                    <th>ACCIONES</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-empleado>
                <tr>
                    <td>{{empleado.id}}</td>
                    <td>{{empleado.nombre}}</td>
                    <td>{{empleado.apellido}}</td>
                    <td>{{empleado.email}}</td>
                    <td>
                        <button pButton type="button" label="Editar" class="p-button-warning m-1" (click)="editarRegistro(empleado.id)"></button>
                        <button pButton type="button" label="Detalle" class="p-button-info m-1" (click)="detalleRegistro(empleado.id)"></button>
                        <button pButton type="button" (click)="eliminar(empleado.id)" class="p-button-danger m-1" label="Eliminar"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
<p-toast></p-toast>    