

<h1>Detalle del Empleado</h1>
<div>
    <div>
        <label><b>ID: </b>{{empleado.id}}</label>
    </div>
</div>
<div>
    <div>
        <label><b>NOMBRE: </b>{{empleado.nombre}}</label>
    </div>
</div>
<div>
    <div>
        <label><b>APELLIDO: </b>{{empleado.apellido}}</label>
    </div>
</div>
<div>
    <div>
        <label><b>EMAIL: </b>{{empleado.email}}</label>
    </div>
</div>

